body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

h1 {
    margin: 0;
    text-align: center;
}

.clock-container {
    display: flex;
    align-items: baseline;
}

#time {
    font-size: 10rem;
    color: yellow;
    position: relative;
}

#day {  
    font-size: 3rem;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}
